<div class='row'>
  <div class='col-md-12 about ' style='background-color:#e0b575e0; border-radius: 7px; padding: 5px;border: solid; border-width: 3px;'>
    <div class='row about'>
      <div class='col-lg-12 col-md-12 col-sm-12 desc card'>
        <ul>
<!--          <li>Booking ID: <%#= @booking.id %></li>-->
<!--          <li>Booking ID Copy: <%#= @booking.unit_id %></li>-->
<!--          <li>Start of Booking: <%#= @booking.start_booking %></li>-->
<!--          <li>End of Booking: <%#= @booking.end_booking %></li>-->
<!--          <li>Status: <%#= @booking.status %></li>-->
<!--          <li>User that did booking: <%#= @booking.user.username %></li>-->
          <li>Замовлення ID: <%= @booking.id %></li>
          <li>Копія книги ID: <%= @booking.unit_id %></li>
          <li>Початок замовлення: <%= @booking.start_booking %></li>
          <li>Кінець замовлення: <%= @booking.end_booking %></li>
          <li>Статус: <%= @booking.status %></li>
          <li>Ім'я користувача що зробив замовлення: <%= @booking.user.username %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-md-1'>
  </div>
  <div class='col-md-10'>
    <% if @booking.errors.any? %>
      <div class='error_explanation'>
        <h4><%= pluralize(@booking.errors.count, 'error') %></h4>
        <ul>
          <% @booking.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4><%= @status %></h4>
    <%= form_for [:admin, @booking] do |f| %>
      <div class='form-group'>
        <div class='row'>
          <div class='col-md-6'>
<!--            <%#= label_tag('Continue booking') %><br>-->
            <%= label_tag('Продовжити замовлення') %><br>
            <%= number_field_tag 'continue_booking', 0, in: 0..20 %>
          </div>
          <div class='col-md-6'>
<!--            <%#= label_tag(:status, 'Change a status') %><br>-->
            <%= label_tag(:status, 'Змінити статус замовленя') %><br>
            <%= f.select :status, Booking.statuses.keys.to_a %><br>
          </div>
        </div>
      </div>
      <%#= f.submit 'Save', class: 'form-control' %>
      <%= f.submit 'Зберегти', class: 'form-control' %>
    <% end %>
  </div>
  <div class='col-md-1'>
  </div>
</div>