<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<!-- Modal -->
<div class='row'>
  <div id='myModal' class='modal fade' role='dialog'>
    <div class='modal-dialog'>
      <!-- Modal content-->
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
          <!--          <h4 class='modal-title'>Filter for books</h4>-->
          <h4 class='modal-title'>Фільтер для книг</h4>
        </div>
        <div class='modal-body'>
          <%= form_tag admin_books_path, method: :get do %>
            <div class='panel-group'>
              <div class='panel panel-default'>
                <div class='panel-heading'>
                  <h4 class='panel-title'>
                    <!--                    <a data-toggle='collapse' href='#collapse1'>Languages</a>-->
                    <a data-toggle='collapse' href='#collapse1'>Мови</a>
                  </h4>
                </div>
                <div id='collapse1' class='panel-collapse collapse'>
                  <div class='panel-body'>
                    <% @languages.each do |language| %>
                      <%#= check_box_tag 'by_language_ids[]', language.id , params[:by_language_ids] %>
                      <%= check_box_tag 'by_language_ids[]', language.id %>
                      <%= h language.language %>;
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='panel-group'>
              <div class='panel panel-default'>
                <div class='panel-heading'>
                  <h4 class='panel-title'>
                    <!--                    <a data-toggle='collapse' href='#collapse2'>Authors</a>-->
                    <a data-toggle='collapse' href='#collapse2'>Автори</a>
                  </h4>
                </div>
                <div id='collapse2' class='panel-collapse collapse'>
                  <div class='panel-body'>
                    <% @authors.each do |author| %>
                      <%= check_box_tag 'by_authors_ids[]', author.id %>
                      <%= h author.name %>;
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class='panel-group'>
              <div class='panel panel-default'>
                <div class='panel-heading'>
                  <h4 class='panel-title'>
                    <!--                    <a data-toggle='collapse' href='#collapse3'>Categories</a>-->
                    <a data-toggle='collapse' href='#collapse3'>Категорії</a>
                  </h4>
                </div>
                <div id='collapse3' class='panel-collapse collapse'>
                  <div class='panel-body'>
                    <% @categories.all.each do |categories| %>
                      <%= check_box_tag 'by_category_ids[]', categories.id %>
                      <%= h categories.title %>;
                    <% end %>
                    <!-- <%#= collection_check_boxes(:by_language_ids, :by_language_ids, Language.all, :id, :language) do |c| %><br>
                      <%#= c.label { c.check_box + '  ' + c.text } %>
                    <%# end %>-->
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12' style="padding-bottom: 5px">
                <%= text_field_tag 'by_title_or_name_for_author', params[:by_title_or_name_for_author],
                                   # placeholder: 'code\name_title\name_author'
                                   placeholder: 'код\назва книги\ім\'я автора',
                                   class: 'form-control col-md-6',
                                   style: 'width: 220px' %>
              </div>
            </div>
            <div class='col-md-6'>
              <!--              <%#= label_tag(:year, 'Year of release') %><br>-->
              <%= label_tag(:year, 'Рік випуску') %><br>
              <%= select_tag :by_year, options_for_select(@years, @years.last[1]) %>
              <!--              <div><%#= submit_tag 'Save' %></div>-->
              <div><%= submit_tag 'Зберегти' %></div>
            </div>
          <% end %>
          <div class='modal-footer'>
            <!--          <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>-->
            <button type='button' class='btn btn-default' data-dismiss='modal'>Закрити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default panel-table'>
      <div class='panel-heading'>
        <div class='row'>
          <div class='col col-md-3 col-md-offset-1'>
            <button type='button' class='btn btn-info btn-ms' data-toggle='modal' data-target='#myModal'>
              <!--              Filter-->
              Фільтр
            </button>
          </div>
          <div class='col col-md-5 '>
            <% unless @books.empty? %>
              <%= paginate @books, outer_window: 3, class: "pagination", style: "margin: 0px; padding: 0px" %>
            <% end %>
          </div>
          <div class='col col-md-3 '>
            <%#= link_to 'Create book', new_admin_book_path, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Створити книгу', new_admin_book_path, class: 'btn btn-sm btn-primary' %>
          </div>
        </div>
      </div>
      <div class='panel-body table-responsive'>
        <table class='table table-striped table-bordered table-hover table-list'>
          <thead>
          <tr>
            <h1><%= @status %></h1>
          </tr>
          <tr>
            <!--              <th><em class='fa fa-cog'></em></th>-->
            <!--              <th class='hidden-xs'>ID</th>-->
            <!--              <th class='hidden-xs'>Copies</th>-->
            <!--              <th>Title</th>-->
            <!--              <th>Year of release</th>-->
            <!--              <th>Category</th>-->
            <!--              <th>Author</th>-->
            <!--              <th>Rating:</th>-->
            <!--              <th>Description</th>-->
            <th><em class='fa fa-cog'></em></th>
            <th class='hidden-xs'>ID</th>
            <th class='hidden-xs'>Копії ID</th>
            <th>Назва</th>
            <th>Рік випуску</th>
            <th>Категорія</th>
            <th>Автор</th>
            <th>Рейтинг:</th>
            <th>Опис</th>
          </tr>
          </thead>
          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td align='center'>
                <%= link_to new_admin_book_path(book_id: book.id), class: ' btn btn-warning fa fa-pencil' do %>
                <% end %>
                <%= link_to admin_book_path(book), method: :delete, data: {confirm: 'Are you sure?'}, class: ' btn btn-danger fa fa-trash' do %>
                <% end %>
                <%= link_to admin_add_unit_book_path(book), method: :post, class: 'btn btn-success fa fa-plus' do %>
                <% end %>
                <%#= link_to admin_delete_unit_book_path(book), method: :post, data: {confirm: 'Are you sure?'}, class: ' btn btn-danger fa fa-minus-circle' do %>
                <%# end %>
              </td>
              <td>
                <%= link_to book.id, admin_book_path(book.id) %>
              </td>
              <td>
                <%= link_to book.units_count, admin_book_path(book.id) %>
              </td>
              <td>
                <%= link_to book.title, admin_book_path(book.id) %>
              </td>
              <td>
                <%= link_to book.year, admin_book_path(book.id) %>
              </td>
              <% unless book.category.nil? || book.category.title.nil? %>
                <td>
                  <%= link_to book.category.title, admin_book_path(book.id) %>
                </td>
              <% else %>
                <td>Category: not exist</td><br>
              <% end %>
              <% unless book.author.nil? || book.author.name.nil? %>
                <td>
                  <%= link_to book.author.name, admin_book_path(book.id) %>
                </td>
              <% else %>
                <td>Author: not exist</td><br>
              <% end %>
              <td>
                <%= book.rating %>
              </td>
              <% if book.description.length < 30 %>
                <td>
                  <%= link_to book.description, admin_book_path(book.id) %>
                </td>
              <% else %>
                <td>
                  <%= link_to book.description[0..30] + '...', admin_book_path(book.id) %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>