<div class='row'>
  <div class='col-md-1'>
  </div>
  <div class='col-md-10'>
    <% if @book.errors.any? %>
      <div class='error_explanation'>
        <h4><%= pluralize(@book.errors.count, 'error') %></h4>
        <ul>
          <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4><%= @status %></h4>
    <%= form_for [:admin,@book] do |f| %>
      <div class='form-group'>
        <div class='row'>
          <div class='col-md-6'>
            <%= label_tag(:title, 'Title for book') %>
            <%= f.text_field :title, class: 'form-control' %><br>
          </div>
          <div class='col-md-6'>
            <%= label_tag(:year, 'Year of release') %><br>
            <%= select_year Date.today, :start_year => Time.now.year, :end_year => Time.now.year - 1000, :field_name => :year, :prefix => :book %>
          </div>
        </div>
        <%= label_tag(:language, 'Language of book') %><br>
        <%= f.collection_select :language_id, Language.order(:language), :id, :language, prompt: true %><br>
        <div class='row'>
          <div class='col-md-8'>
            <%= label_tag(:description, 'Description of book') %>
            <%= f.text_area :description, class: 'form-control' %><br>
          </div>
          <div class='col-md-4'>
            <div class='row'>
              <%= label_tag(:language, 'Author of book') %><br>
              <%= f.collection_select :author_id, Author.order(:name), :id, :name, prompt: true %><br>
            </div>
            <div class='row'>
              <%= label_tag(:language, 'Category of book') %><br>
              <%= f.collection_select :category_id, Category.order(:title), :id, :title, prompt: true %><br>
            </div>
            <div class="row">
              <%= f.hidden_field :image, value: @book.cached_image_data %>
              <%= f.file_field :image %>
            </div>
          </div>
        </div>

      </div>
      <%= f.submit 'Save', class: 'form-control' %>
    <% end %>
  </div>
  <div class='col-md-1'>
  </div>
</div>