<div class='row'>
  <div class='col-md-8 col-md-offset-2  about ' style='background-color:#e0b575e0; border-radius: 7px; padding: 5px;border: solid; border-width: 3px;'>
    <div class='row about'>
      <div class="col-md-12">
        <div class='row'>
          <div class='col-md-12' style="margin-bottom: 5px">
            <%= image_tag @book.image_url, class: "img-responsive" if @book.image_url %>
          </div>
        </div>
        <div class='row desc card'>
          <div class='col-md-12'>
            <ul>
              <li>Title:<%= @book.title %></li>
              <li>Year of release:<%= @book.year %></li>
              <% unless @book.author.nil? || @book.author.name.nil? %>
                <li>Author:<%= @book.author.name %></li>
              <% else %>
                <li>Author: not exist</li><br>
              <% end %>
              <% unless @book.category.nil? || @book.category.title.nil? %>
                <li>Category:<%= @book.category.title %></li>
              <% else %>
                <li>Category: not exist</li><br>
              <% end %>
              <% unless @book.language.nil? || @book.language.language.nil? %>
                <li>Language:<%= @book.language.language %></li>
              <% else %>
                <li>Language: not exist</li><br>
              <% end %>
              <li>Count of copies:<%= @book.units_count %></li>
              <li>Count of free:<%= @free_units_count[@book] %></li>
              <li>Rating:  <%= @book.rating %></li>
              <li>Count of ordes:<%= @book.units_count - @free_units_count[@book] %></li>
              <li>Before this book be able days:<%= @day_whan_this_book_by_able %></li>
              <!--              TODO виправити це-->
              <% if user_signed_in? && current_user.admin %>
                <li>
                  <%= form_tag new_estimate_path, method: :get do %>
                    <%= hidden_field_tag 'book_id', @book.id %>
                    <%= submit_tag 'Add estimate', class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='row' style='background-color: #fcaf58a6; border-radius: 7px; margin: 8px; padding: 5px; border: groove; border-width: 3px;'>
      <p style='word-break: break-all;'><%= @book.description %></p>
    </div>
  </div>
</div>



