<div class='row'>
  <div class=' col-md-8 col-md-offset-2'>
    <div class='row'>
      <div class='col-md-12 about ' style='background-color:#e0b575e0; border-radius: 7px; padding: 5px;border: solid; border-width: 3px;'>
        <div class='row about'>
          <div class='col-lg-12'>
            <div class='row'>
              <div class='col-md-12' style="margin-bottom: 5px">
                <% if @author.image_url %>
                  <%= image_tag @author.image_url, class: "img-responsive" %>
                <% else %>
                  <img alt='User Pic' src='http://localhost:3000/assets/17241-200.png' class='img-rounded img-responsive'>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='col-md-12 '>
            <!--            <p style='background-color: #fcaf58a6; border-radius: 7px; margin: 8px; padding: 5px; border: groove; border-width: 4px;'>-->
            <!--              Author Name:<%#= @author.name %>-->
            <!--            </p>-->
            <p style='background-color: #fcaf58a6; border-radius: 7px; margin: 8px; padding: 5px; border: groove; border-width: 4px;'>
              Ім'я автора: <%= @author.name %>
            </p>
          </div>
        </div>
        <div class='row' style='background-color: #fcaf58a6; border-radius: 7px; margin: 8px; padding: 5px; border: groove; border-width: 7px;'>
          <p style='word-break: break-all;'>
            <%= @author.biography %>
          </p>
        </div>
      </div>
    </div>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <div class='row' style='margin-top: 10px;'>
      <div class='col-md-12'>
        <div class='panel panel-default panel-table'>
          <div class='panel-heading'>
            <div class='row'>
              <div class='col col-md-6 col-md-offset-3'>
                <div style='text-align: center'>
                  <!--                  <strong>
                                      All author's books in this library
                                    </strong>-->
                  <strong>
                    Книги автора у бібліотеці
                  </strong>
                </div>
              </div>
            </div>
          </div>

          <div class='panel-body table-responsive'>
            <table class='table table-striped table-bordered table-hover table-list'>
              <thead>
              <tr>
                <!--                  <th>Title</th>-->
                <!--                  <th>Year of release</th>-->
                <!--                  <th>Category</th>-->
                <!--                  <th>Author</th>-->
                <!--                  <th>Rating:</th>-->
                <!--                  <th>Description</th>-->
                <th>Назва</th>
                <th>Рік випуску</th>
                <th>Категорія</th>
                <th>Автор</th>
                <th>Рейтинг:</th>
                <th>Опис</th>
              </tr>
              </thead>
              <tbody>
              <% @author.books.each do |book| %>
                <% if book.in_history == false %>
                  <tr>
                    <td><%= link_to book.title, for_user_book_path(book.id) %></td>
                    <td><%= link_to book.year, for_user_book_path(book.id) %></td>
                    <% unless book.category.nil? || book.category.title.nil? %>
                      <td><%= link_to book.category.title, for_user_book_path(book.id) %></td>
                    <% else %>
                      <!--                      <td>Category: not exist</td><br>-->
                      <td>Категорія: не існує</td>
                      <br>
                    <% end %>
                    <% unless book.author.nil? || book.author.name.nil? %>
                      <td><%= link_to book.author.name, for_user_book_path(book.id) %></td>
                    <% else %>
                      <!--                      <td>Author: not exist</td><br>-->
                      <td>Автор: не існує</td>
                      <br>
                    <% end %>
                    <td><%= book.rating %></td>
                    <% if book.description.length < 30 %>
                      <td><%= link_to book.description, for_user_book_path(book.id) %></td>
                    <% else %>
                      <td><%= link_to book.description[0..30] + '...', for_user_book_path(book.id) %></td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>