
<div class="row" style="margin-bottom: 12px ">
  <div class="col col-md-3 ">
    <button type='button' class='btn btn-info btn-ms' data-toggle='modal' data-target='#myModal'>
      Filter
    </button>
  </div>
</div>
<div class='row'>
  <!-- Modal -->
  <div id='myModal' class='modal fade' role='dialog'>
    <div class='modal-dialog'>
      <!-- Modal content-->
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal'>&times;</button>
          <h4 class='modal-title'>Filter for books</h4>
        </div>
        <div class='modal-body'>
          <%= form_tag user_books_path, method: :get do %>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Languages</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <% @languages.each do |language| %>
                      <%= check_box_tag 'by_language_ids[]', language.id %>
                      <%= h language.language %>;
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Authors</a>
                  </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <% @authors.each do |author| %>
                      <%= check_box_tag 'by_authors_ids[]', author.id %>
                      <%= h author.name %>;
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Categories</a>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <% @categories.all.each do |categories| %>
                      <%= check_box_tag 'by_category_ids[]', categories.id %>
                      <%= h categories.title %>;
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= text_field_tag 'by_title_or_name_fo_author', params[:by_title_or_name_fo_author],
                                   placeholder: 'code\name_title\name_author',
                                   class: 'form-control col-md-6',
                                   style: 'width: 220px' %>
              </div>
            </div>
            </div>
            <div class="col-md-6">
              <%= label_tag(:year, "Year of release") %><br>
              <%= select_tag :by_year, options_for_select(@years, nil) %>

              <div><%= submit_tag 'Save' %></div>
            </div>

          <% end %>

          <div class='modal-footer'>
            <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
          </div>
          </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="container-fluid cards-row">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-sm-6 col-md-4 article">
        <div class="thumbnail" style="outline-style: solid; outline-radius: 7px; background-color: #ddaa68e6;">
          <img src="https://1.bp.blogspot.com/-aFQ-W_KTFWQ/V6BdtpSUy6I/AAAAAAAAAH4/xD_U-BYItSsNvk1UGfROqLBzzU1h32oXQCLcB/s320/4-diwali-greeting-cards-by-ajay-acharya.jpg" alt="Bootstrap Thumbnail: Beautiful Bootstrap Thumbnail like Material Design Cards">
          <div class="caption"
               <% if @free_books[book] > 0 %> style="border-radius: 7px;background-color: #28a745a6;"
               <% else %>
               style="border-radius: 7px;background-color: #da7916b8;"
               <% end %>
               >
            <h3>Tile Of Book:  <td><%= link_to book.title, user_book_path(book.id) %></td></h3>
            <p class="card-description">
              <strong>Author:  <%= book.author.name %></strong><br>
              <strong>Language:  <%= book.language.language %></strong><br>
              <strong>Count of Free:</strong> <%= @free_books[book] %>\<%= book.units_count %></p>
            <% unless current_user %>
              <p>If you want do order you should to autorize</p>
            <% else %>
              <% if @free_books[book] > 0 %>
                <% if current_user.bookings.by_status(:taken).count < 4 %>
                  <% if current_user.bookings.by_status(:owed).count == 0 %>
                    <%= form_with url: user_bookings_path do |form| %>
                      <%= hidden_field_tag(:book_id, book.id) %>
                      <%= form.submit 'Do order', class: 'btn btn-success fa fa-check fa-1' %>
                    <% end %>

                  <% else %>
                    <p>You are debtor</p>
                  <% end %>
                <% else %>
                  <p>You have too much bookings</p>
                <% end %>
              <% else %>
                <p>Not have free books</p>
              <% end %>
            <% end %>
          </div>
          <%= @msg %>
        </div>
      </div>
    <% end %>
  </div>
</div>

