<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default panel-table'>
      <div class='panel-heading'>
        <div class='row'>
          <%= form_tag admin_users_path, method: :get do %>
            <div class='row'>
              <div class='col-md-2' style='margin: 7px '>
                <%= select_tag :by_debtor, options_for_select([['Debtor', true], ['Not debtor', false], ['No filtre', nil]], nil) %>
              </div>
              <div class='col-md-3'>
                <div><%= submit_tag 'Пошук', class: 'btn btn-ms btn-success ', style: 'margin-left: 5px;' %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class='panel-body table-responsive'>
        <table class='table table-striped table-bordered table-list'>
          <thead>
            <tr>
              <th><em class='fa fa-cog'></em></th>
              <th class='hidden-xs'>ID</th>
              <th class='hidden-xs'>Username</th>
              <th class='hidden-xs'>Email</th>
              <th class='hidden-xs'>Admin</th>
              <th class='hidden-xs'>Debtor</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td align='center'>
                <!--                <%#= link_to new_book_path(book_id: book.id), class: ' btn btn-warning fa fa-pencil' do %>
                <%# end %>
                <%#= link_to book_path(book), method: :delete, data: {confirm: 'Are you sure?'}, class: ' btn btn-danger fa fa-trash' do %>
                <%# end %>-->
              </td>
              <td><%= link_to user.id, admin_user_path(user.id) %></td>
              <td><%= link_to user.username, admin_user_path(user.id) %></td>
              <td><%= link_to user.email, admin_user_path(user.id) %></td>
              <td><%= link_to admin_user_path(user.id) do %>
                  <%= user.admin ? 'Yes' : 'No' %>
                <% end %>
              </td>
              <td>  <%= user.debtor ? 'Yes' : 'No' %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <% unless @users.empty? %>
              <%= paginate @users, outer_window: 3, class: "pagination" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>