<!DOCTYPE html>
<html>
<head>
  <title>LibraryService</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</head>

<body>
<nav class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <div class='navbar-brand'><%= link_to 'Головна', root_path %></div>
    </div>
    <div class='collapse navbar-collapse' id='myNavbar'>
      <ul class='nav navbar-nav'>
<!--        <li><%#= link_to 'Show All books', for_user_books_path %></li>-->
<!--        <li><%#= link_to 'Show All authors', for_user_authors_path %></li>-->
        <li><%= link_to 'Всі книги', for_user_books_path %></li>
        <li><%= link_to 'Всі автори', for_user_authors_path %></li>
        <% if user_signed_in? %>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              Ваші замовлення
              <span class='caret'>
            </span>
            </a>
            <ul class='dropdown-menu'>
<!--              <li><%#= link_to 'Show All books thats you take mow', for_user_show_taken_books_path %></li>-->
<!--              <li><%#= link_to 'Show All books thats you read', for_user_readed_books_path %></li>-->
<!--              <li><%#= link_to 'Show All your orders', for_user_bookings_path %></li>-->
              <li><%= link_to 'Показати всі книги на руках', for_user_show_taken_books_path %></li>
              <li><%= link_to 'Показати всі прочитані книги', for_user_readed_books_path %></li>
              <li><%= link_to 'Показати всі замовлення', for_user_bookings_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn', style: 'margin-top: 7px;' do %>
            <span class='glyphicon glyphicon-user'></span> Sign out
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: 'btn', style: 'margin-top: 7px;' do %>
            <span class='glyphicon glyphicon-user'></span> Sign Up
          <% end %>
          <%= link_to new_user_session_path, class: 'btn', style: 'margin-top: 7px;' do %>
            <span class='glyphicon glyphicon-log-in'></span> Login
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% if user_signed_in? && current_user.admin %>
  <div class='container'>
    <div class='row'>
      <div class='col-md-3'>
<!--        <div class='well' style='background-color: #daa364;'><strong>Admin Panel</strong></div>-->
        <div class='well' style='background-color: #daa364;'><strong>Панель адміністратора</strong></div>
        <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'>
          <!-- 1 Panel start Here -->
          <div class='panel panel-default' style='background-color: #daa465;'>
            <div class='panel-heading' style='background-color: #ecb77fe0;' role='tab' id='headingOne'>
              <h4 class='panel-title'>
                <a role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='false' aria-controls='collapseOne' class='collapsed'>
                  Книги <span class='glyphicon glyphicon-plus pull-right' aria-hidden='true'></span>
                </a>
              </h4>
            </div>
            <div id='collapseOne' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingOne' aria-expanded='false' style='height: 0px;'>
              <div class='panel-body'>
<!--                <li><%#= link_to 'Add book', new_admin_book_path, style: 'color: #090a0a;' %></li>-->
<!--                <li><%#= link_to 'Show all books', admin_books_path, style: 'color: #090a0a;' %></li>-->
                <li><%= link_to 'Додати книгу', new_admin_book_path, style: 'color: #090a0a;' %></li>
                <li><%= link_to 'Показати всі книги', admin_books_path, style: 'color: #090a0a;' %></li>
                <!-- List Group End Here -->
              </div>
            </div>
          </div> <!-- 1 Panel End Here -->
          <!-- 2 Panel start Here -->
          <div class='panel panel-default' style='background-color: #daa465;'>
            <div class='panel-heading' style='background-color: #ecb77fe0;' role='tab' id='headingTwo'>
              <h4 class='panel-title'>
                <a role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo' class='collapsed'>
                  Автори <span class='glyphicon glyphicon-plus pull-right' aria-hidden='true'></span>
                </a>
              </h4>
            </div>
            <div id='collapseTwo' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingTwo' aria-expanded='false' style='height: 0px;'>
              <div class='panel-body'>
<!--                <li><%#= link_to 'Add author', new_admin_author_path, style: 'color: #090a0a;' %></li>-->
<!--                <li><%#= link_to 'Show all authors', admin_authors_path, style: 'color: #090a0a;' %></li>-->
                <li><%= link_to 'Додати автора', new_admin_author_path, style: 'color: #090a0a;' %></li>
                <li><%= link_to 'показати всіх авторів', admin_authors_path, style: 'color: #090a0a;' %></li>
                <!-- List Group End Here -->
              </div>
            </div>
          </div> <!-- 2 Panel End Here -->
          <!-- 3 Panel start Here -->
          <div class='panel panel-default' style='background-color: #daa465;'>
            <div class='panel-heading' style='background-color: #ecb77fe0;' role='tab' id='headingThree'>
              <h4 class='panel-title'>
                <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree'>
                  Користувачі <span class='glyphicon glyphicon-plus pull-right' aria-hidden='true'></span>
                </a>
              </h4>
            </div>
            <div id='collapseThree' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingThree' aria-expanded='false' style='height: 0px;'>
              <div class='panel-body'>
<!--                <li><%#= link_to 'Show all for_user', admin_users_path, style: 'color: #090a0a;' %></li>-->
                <li><%= link_to 'Показати всіх користувачів', admin_users_path, style: 'color: #090a0a;' %></li>

                <!-- List Group End Here -->
                <!-- List Group End Here -->
              </div>
            </div>
          </div>  <!-- 3 Panel End Here -->
          <!-- 4 Panel start Here -->
          <div class='panel panel-default' style='background-color: #daa465;'>
            <div class='panel-heading' style='background-color: #ecb77fe0;' role='tab' id='headingFour'>
              <h4 class='panel-title'>
                <a class='collapsed' role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseFour' aria-expanded='false' aria-controls='collapseFour'>
                  Замовлення <span class='glyphicon glyphicon-plus pull-right' aria-hidden='true'></span>
                </a>
              </h4>
            </div>
            <div id='collapseFour' class='panel-collapse collapse' role='tabpanel' aria-labelledby='headingFour' aria-expanded='false' style='height: 0px;'>
              <div class='panel-body'>
<!--                <li><%#= link_to 'Show all orders', admin_bookings_path, style: 'color: #090a0a;' %></li>-->
                <li><%= link_to 'Показати всі замовлення', admin_bookings_path, style: 'color: #090a0a;' %></li>
                <!-- List Group End Here -->
                <!-- List Group End Here -->
              </div>
            </div>
          </div>  <!-- 4 Panel End Here -->
        </div>
      </div><!-- /.sidebar column end here -->
      <div class='col-md-9'>
        <div class='container, devise-form-1'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

</body>
</html>
